<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baomidou.mybatisplus.test.web.mapper.SysRolesMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        crt_user,
        crt_name,
        crt_time,
        crt_host,
        upd_user,
        upd_name,
        upd_time,
        upd_host,
        enabled, del_flag, name, default_role, description, data_type, system_type, store_id, price, level, is_success_als
    </sql>
    <select id="selectByIds" resultType="com.baomidou.mybatisplus.test.web.po.SysRoles"
            parameterType="java.lang.Long">
        select a.*
        <choose>
            <when test='id == "1193054220921319426"'>
                ,b.description,c.description
            </when>
            <otherwise>
                ,1 as description
            </otherwise>
        </choose>

        from sys_roles a
        <if test='id == "1193054220921319426"'>
            inner join sys_role b on a.id = b.id
        </if>
        where a.id = #{id}


    </select>


</mapper>
